body{
    margin:0;
    padding:0;
    background-color:#171825;
    color:#fff;
    font-size:16px;
}

/*Odkazy*/
.menu{
    display:none;
}

.menu-img{
    width:24px;
    height: 24px;
}

a{
    color:#fff;
    text-decoration:none;
}
a:hover{

}


.dashboard{
    margin-top: 2%;
}

.container{
    width:1440px;
    max-width:92%;
    margin:0 auto;

}

.content-wrap{
    display:flex;
    background-color:#1D1E2C;
    justify-content:space-between;
    gap:1.5%;
    border-radius: 20px;
}

.bocna-lista{
    background-color:#24263A;
    font-size:18px;
    display:flex;
    flex-direction:column;
    padding:20px;
    border-radius:20px 0 0 20px;
    width:20%;
}

.logo{
    align-items:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin-bottom:30px;
}

.logo img{
    width:50%;
}

.hlavne-menu{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.frame{
    display:flex;
    gap:20px;
    margin-bottom:15px;

}

.frame a{

}

.img-2{
    width:20px;
}

.hlavicka{
    background-color:#24263a;
    display:flex;
    justify-content:space-between;
    padding:20px;
    border-radius:0px 20px 0px 20px;
    align-items:center;
    margin-bottom:2%;
}

.hello-drax{
    font-size:22px;
}

.right-header{
    display:flex;
    justify-content:center;
    flex-direction:column;

}

.right-header-wrap{
    align-items:center;
    display:flex;
    gap:15px;
}

hr{
    margin: 30px 0;
    width: 180px;
    background-color: #1D1E2C;
    border: none;
    height: 2px;
}

.wrap{
    width:78%;
    display:flex;
    flex-direction:column;
}

.bubble img, .bubble-2 img, .bubble-3 img, .bubble-4 img, .bubble-5 img, .second-row img{
    border-radius:10px;
    max-width:100%;
    margin-bottom:2%;
}

.obsah{
    display:flex;
    flex-direction:row;
    gap:2%;
}


.content-l{
    max-width:70.5%;
}

.content-l-1{
    display:flex;
    flex-direction:row;
    gap:2%;
}

.content-l-2{
    display:flex;
    flex-direction:row;
    gap:2%;
}

.content-r{
    max-width:29.5%;
}

@media screen and (max-width: 980px) {
    body{overflow-x:none;}
    .bocna-lista{
        display:none;
    }

    .wrap{
        width:100%;
    }

    .obsah{
        flex-wrap:wrap;
        width:100%;
    }

    .content-l{
        width:100%;
        max-width:100%;
        display:flex;
        flex-direction:column;
    }

    .content-l-1{
        width:100%;
        max-width:100%;
        flex-wrap:wrap;
    }

    .content-r{
        width:100%;
        max-width:100%;
        flex-wrap:wrap;
    }

    .content-l-2{
        width:100%;
        max-width:100%;
        flex-wrap:wrap;
    }

    .bubble-5 img{
        max-width:100%;
        width:100%;
    }

    .menu{
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #24263a;
        /* background-color: red; */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 20px;
    }

    .dropdown-content a {
        color: White;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 20px;
    }

    .dropdown-content a:hover {background-color: #1D1E2C;}

    .menu:hover .dropdown-content {display: block;}

    .left-header{display:flex;gap:20px;}

    .hlavicka{
        border-radius:20px 20px 0px 0px;
    }
}
