@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:800,400,500,700,600,italic|Roboto:400");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
    scroll-behavior: smooth;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}


.web-host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.web-host .sub-web-host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    gap: 84px;
    padding: 50px 97px;
    position: relative;
    background-image: url(./img/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.web-host .hlavicka {
    display: flex;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
    justify-content: space-between;
}

.web-host .image {
    position: relative;
    width: 188px;
    height: 188px;
    object-fit: cover;
}

.web-host .div {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
}

.web-host .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.web-host .line {
    position: relative;
    width: 1px;
    height: 30px;
    margin-right: -1px;
    object-fit: cover;
}

.web-host .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.web-host .uvod {
    display: inline-flex;
    flex-direction: column;
    height: 296px;
    align-items: flex-start;
    gap: 57px;
    padding: 0px 0px 0px 20px;
    position: relative;
}

.web-host .text-wrapper-3 {
    position: relative;
    width: 516px;
    margin-top: -1px;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 53px;
    letter-spacing: 0;
    line-height: normal;
}

.web-host .p {
    position: relative;
    width: 516px;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.web-host .button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 17px 51px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f6762c;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.web-host .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.web-host .sub-web-host-2 {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 98px 0px;
    background-color: #f4e3d9;
    display: flex;
    width: 100%;

}

.web-host .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    line-height: normal;
    white-space: nowrap;
}

.web-host .frame {
    display: flex;
    width: 1241px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.web-host .component {
    position: relative;
    width: 351px;
    height: 471px;
}

.web-host .overlap-group {
    position: relative;
    width: 331px;
    height: 359px;
    top: 56px;
    left: 10px;
}

.web-host .rectangle {
    position: absolute;
    width: 331px;
    height: 229px;
    top: 130px;
    left: 0;
    background-color: #f4e3d9;
    border-radius: 10px;
}

.component:hover{
    .rectangle {
        box-shadow: 9.5px 4px 18.5px 2px #a2a2a2;
    }
}

.web-host .img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 65px;
    object-fit: cover;
}

.web-host .text-wrapper-6 {
    position: absolute;
    height: 25px;
    top: 205px;
    left: 92px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.web-host .text-wrapper-7 {
    position: absolute;
    width: 292px;
    height: 66px;
    top: 258px;
    left: 19px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #383838;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.web-host .text-wrapper-8 {
    position: absolute;
    height: 22px;
    top: 230px;
    left: 137px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ff0000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.web-host .fatboy-burger {
    left: 90px;
    position: absolute;
    height: 25px;
    top: 205px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.web-host .fatboy-burger-2 {
    left: 96px;
    position: absolute;
    height: 25px;
    top: 205px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.web-host .fatboy-burger-3 {
    left: 107px;
    position: absolute;
    height: 25px;
    top: 205px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.web-host .fatboy-burger-4 {
    left: 86px;
    position: absolute;
    height: 25px;
    top: 205px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.web-host .fatboy-burger-5 {
    left: 104px;
    position: absolute;
    height: 25px;
    top: 205px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.web-host .sub-web-host-3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 218px 291px;
    top: 1497px;
    background-image: url(./img/caffee.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    display: flex;
    width: 100%;

}

.web-host .format-quote {
    position: relative;
    width: 48px;
    height: 48px;
    margin-top: -65px;
    object-fit: cover;
}

.web-host .i-enjoy-healthy {
    position: relative;
    width: 511px;
    margin-top: -8px;
    margin-bottom: -64px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.web-host .sub-web-host-4 {
    align-items: flex-start;
    gap: 10%;
    padding: 82px 105px;
    background-color: #f4e3d8;
    display: flex;
    width: 100%;
    left: 0;
    justify-content: center;
}

.web-host .left-text {
    display: inline-flex;
    flex-direction: column;
    height: 220px;
    align-items: flex-start;
    gap: 47px;
    position: relative;
    flex: 0 0 auto;
}

.web-host .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #8a3306;
    font-size: 25px;
    letter-spacing: 5px;
    line-height: normal;
    white-space: nowrap;
}

.web-host .va-e-neodolate-n {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.web-host .line-2 {
    position: relative;
    width: 98px;
    height: 1px;
    margin-bottom: -1px;
}

.web-host .right-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    padding: 80px 0px 0px;
    position: relative;
    flex: 0 0 auto;
}

.web-host .text-wrapper-10 {
    position: relative;
    width: 551px;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.web-host .text-wrapper-11 {
    position: relative;
    width: 551px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}
