body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.split {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.split .left {
    background-image: url('img/foodTable.png');
    background-size: cover;  /* Zabezpečí pokrytie celej plochy divu */
    background-position: center; /* Centruje obrázok */
}



.split .right {
    background-image: url('img/mnamMnam.jpg');
    background-size: cover;  /* Zabezpečí pokrytie celej plochy divu */
    background-position: center; /* Centruje obrázok */
    background-color: rgb(255 255 255 / 90%);
    background-blend-mode: lighten;
}

.left, .right {
    position: absolute;
    width: 65%;
    height: 100%;
    top: 0;
}

.left {
    left: 0;
    background: #f0f0f0;
    clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.left-wrap {
    /*box-shadow: 20px 0 15px -15px rgba(0, 0, 0, 0.5);*/
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    background: #c0c0c0;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 2;
}

.form_main {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 255 255 / 30%);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
    margin-left: 35%;
    transform: scale(1.2);
    border-radius: 10%;
}

/*.form_main::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: rgb(209, 193, 255);
    transform: rotate(45deg);
    left: -180px;
    bottom: 30px;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}*/

.heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
}

.inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.inputIcon {
    position: absolute;
    left: 3px;
}

.inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
}

.inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
}

#button {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: rgb(162, 104, 255);
    height: 30px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
}

#button:hover {
    background-color: rgb(126, 84, 255);
}

.forgotLink{
    z-index: 2;
    font-size: .7em;
    font-weight: 500;
    color: rgb(44, 24, 128);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    width: 100%;
}

.register{
    z-index: 2;
    font-size: .7em;
    font-weight: 500;
    color: rgb(44, 24, 128);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    width: 100%;
}

@media screen and (max-width: 980px) {

    .form_main {

        margin-left: 0;
        z-index: 1;
    }

    .left {
        display: none;
    }

    .right {
        clip-path: none;
        width: 100%;
    }

}



